<head> 
    <title> Francis Madarang </title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<div id="navbar"> 
    <div id="navbar-items"> 

    </div>
    <div id="divider"> </div>
</div>
<div id="welcome"> 
    <div class="item-container"> 
        <svg id='main-circ' width="619" height="675" viewBox="0 0 619 675" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-129.18 -5.36057H618.819V674.518H-129.18V-5.36057Z" fill="#2A4F6E"/>
        </svg> 
        <div id="blurb">
            <h1 id="intro"> Hi, I'm Francis Madarang </h1>
            <p> I'm a CS student at the University of Waterloo </p>
            <p> It's nice to meet you! </p>
        </div>
    </div>
</div>
<div id="projects"> 
    <h1> Projects </h1>
    <div class="item-container"> 

    </div>
</div>
<div id="contact"> 
    <h1> Contact </h1>
</div>