<head> 
    <title> Francis Madarang </title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<div id="navbar"> 
    <div id="navbar-items"> 

    </div>
    <div id="divider"> </div>
</div>
<div id="welcome"> 
    <div class="item-container"> 
        <div id="blurb">
            <h1> Hi, I'm Francis Madarang </h1>
            <p> I'm a CS student at the University of Waterloo </p>
            <p> It's nice to meet you! </p>
        </div>
    </div>
</div>
<div id="projects"> 
    <h1> Projects </h1>
    <div class="item-container"> 

    </div>
</div>
<div id="contact"> 
    <h1> Contact </h1>
</div>