@import url('https://fonts.googleapis.com/css2?family=Offside&family=Orbitron&display=swap');


body {
    font-family: 'Offside', sans-serif;
    color: #AEC2D3; 
    background: #507B9E; 
}

#main-circ {
    border-radius: 50%;
}