@import url('https://fonts.googleapis.com/css2?family=Offside&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

body {
    font-family: 'Offside', sans-serif;
    color: #A3CDFC; 
    background: #5696CB;  
    margin: 0px;
}

h1 {
    font-size: 48px;
    margin: 0px;
}

p, ul, li {
    font-family: 'Lora';
    font-size: 24px;
}

#navbar {
    position: sticky;
    top: 0px;
    background-color: #5E9FD5;
    height: 90px;
}

#navbar-items {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

#triangle {
    display:none;
}

#img {
    position:absolute;
    width: 500px;
    height: 400px;
    right: 10%;
}

#welcome {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    height: 90%;
    justify-content: center;
}

#logo-container {
    width: 225px;
}

#website-logo, #burger {
    width: 60px;
    height: 60px;
}

.logo {
    height: 45px;
    width: 45px;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.text-container {
    margin-left: 10%;
}

.general-container {
    padding-top: 100px;
}

.btn {
    font-family: 'Lora';
    border: 0;
    border-style: none;
    border-radius: 5%;
    font-size: 18px;
    width: 90px;
    height: 45px;
}

.h-30 {
    height: 40px;
}

.h-40 {
    height: 40px;
}

.h-60 {
    height: 60px;
}

.h-72 {
    height: 72px;
}

.h-84 {
    height: 84px;
}

.w-40 {
    width:40px;
}

.w-60 {
    width: 60px;
}

.w-72 {
    width: 72px;
}

.w-84 {
    width: 84px;
}

.w-144 {
    width: 144px;
}

.w-150 {
    width: 150px;
}

.w-160 {
    width: 160px;
}
.w-172 {
    width: 172px;
}

.w-180 {
    width: 180px;
}

.w-200 {
    width: 200px;
}

.w-256 {
    width: 256px;
}

.w-300 {
    width: 300px;
}

.w-360 {
    width: 360px;
}

.w-380 {
    width: 380px;
}

.w-456 {
    width: 456px;
}

.w-120 {
    width: 120px;
}

.contrast {
    color: #FFCC86; 
}

.contrast-back {
    background-color: #FFCC86; 
}

.main {
    color: #A3CDFC;  
}

.main-back {
    background-color: #5696CB; 
}

.main-text {
    color: #5696CB;  
}

.secondary-back {
    background-color: #D9D9D9;
}

.centre {
    text-align: center;
}

@media only screen and (max-width: 1320px) and (min-width: 721px){
    #img {
        display: none;
    }

    .text-container {
        margin-left: 0%;
    }

    #welcome {
        align-items: center;
    }

    h1 {
        font-size: 56px;
        margin: 0px;
    }
    
    p, ul, li {
        font-family: 'Lora';
        font-size: 30px;
    }
}

@media only screen and (max-width: 720px) {
    .text-container {
        margin-left: 15%;
    }
    h1 {
        font-size: 45px;
        margin: 0px;
    }
    
    p, ul, li {
        font-family: 'Lora';
        font-size: 24px;
    }

    #welcome {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: center;
    }

    #triangle {
        display: block;
        margin: 0px;
        width:100%;
    }

    #blurb {
        width: 384px;
    }

    .logo {
        height: 38px;
        width: 38px;
    }

    .btn {
        font-family: 'Lora';
        border: 1;
        border-style:solid;
        border-radius: 5%;
        font-size: 15px;
        width: 75px;
        height: 38px;
    }

    #navbar {
        height: 75px;
    }
    
    #navbar-items {
        height: 75px;
    }
    #img {
        display: none;
    }
}

@media only screen and (max-width: 540px) {
    .text-container {
        margin-left: 15%;
    }
    h1 {
        font-size: 30px;
    }
    
    p, ul, li {
        font-size: 16px;
    }

    #welcome {
        height: 80%;
    }

    #blurb {
        width: 256px;
    }

    .logo {
        height: 30px;
        width: 30px;
    }

    #logo-container {
        width: 150px;
    }

    .btn {
        font-size: 12px;
        width: 60px;
        height: 30px;
    }

    #website-logo, #burger {
        width: 40px;
        height: 40px;
    }

    #navbar {
        height: 60px;
    }
    
    #navbar-items {
        height: 60px;
    }
}