@import url('https://fonts.googleapis.com/css2?family=Offside&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

a {
    text-decoration: none;
    color: #A3CDFC;
}

body {
    font-family: 'Offside', sans-serif;
    color: #A3CDFC; 
    background: #5696CB;  
    margin: 0px;
}

h1 {
    font-size: 48px;
    margin: 0px;
}

p, ul, li {
    font-family: 'Lora';
    font-size: 24px;
}

#sidebar p, #navbar-items p {
    font-family: 'Offside';
}

#navbar-items p {
    color: #c3defc;
    font-size: 32px;
}

#sidebar p {
    padding-top: 12px;
}

#sidebar {
    display: none;
    position: fixed;
    z-index: 4;
    /* top:0; */
    right:0;
    height: 100%;
    width: 30%;
    text-align:center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #5E9FD5;
}

#navbar {
    position: sticky;
    top: 0px;
    background-color: #5E9FD5;
    height: 90px;
    z-index: 2;
}

#navbar-pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 300px;
}

#navbar-items {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

#triangle {
    display:none;
}

#img {
    position:absolute;
    width: 500px;
    height: 400px;
    right: 10%;
    z-index: 1;
}

#welcome {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    height: 90%;
    justify-content: center;
}

#logo-container {
    width: 225px;
}

#website-logo, #burger {
    width: 60px;
    height: 60px;
}

#burger {
    display: none;
    z-index:5;
}

.logo {
    height: 45px;
    width: 45px;
}

.text-container {
    margin-left: 10%;
}

.btn {
    font-family: 'Lora';
    border: 0;
    border-style: none;
    border-radius: 5%;
    font-size: 18px;
    width: 90px;
    height: 45px;
}

.contrast {
    color: #FFCC86; 
}

.contrast-back {
    background-color: #FFCC86; 
}

.black {
    color: #105C9B; 
}

.main {
    color: #A3CDFC;  
}

.main-back {
    background-color: #5696CB; 
}

.main-text {
    color: #5696CB;  
}

.secondary-back {
    background-color: #D9D9D9;
}

.centre {
    margin: auto;
    text-align: center;
    width: 90%;
}

.general-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.item-container:not(#logo-container) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.item-container a:not(#logo-container a) {
    width: 25%;
    height: 400px;
    min-width: 450px;
}    

.item-container img {
    border-color: #3A78AB; 
    border-style: solid;
    border-width: 4px;
    border-radius: 5%;
    width: 25%;
    height: 400px;
    min-width: 450px;
    object-fit: cover;
}

.item-container div {
    width: 50%;
    height: 400px;
    min-width: 450px;
}

.item-container h2 {
    font-size: 36px;
}

#contact ul {
    list-style-type: none;
    text-align: left;
}

#contact li {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

#contact p {
    font-family: 'Offside';
    font-size:32px;
    color: #5696CB;
    margin-left: 50px;
}

.big-logo {
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 1320px) and (min-width: 721px){
    #img {
        display: none;
    }

    .text-container {
        margin-left: 0%;
    }

    #welcome {
        align-items: center;
    }

    h1 {
        font-size: 56px;
        margin: 0px;
    }
    
    p, ul, li {
        font-family: 'Lora';
        font-size: 30px;
    }
}

@media  screen and (max-width: 999px) and (min-width: 721px) {
    .item-container:not(#logo-container) {
        justify-content: space-around;
    }

    .item-container a:not(#logo-container a) {
        width: 30%;
        height:300px;
        min-width: 300px;
    }    

    .item-container img {
        border-color: #3A78AB; 
        border-style: solid;
        border-width: 4px;
        border-radius: 5%;
        width: 30%;
        height:300px;
        min-width: 300px;
        object-fit: cover;
    }

    .centre {
        width: 90%;
    }
    
    .item-container div {
        width: 35%;
        height: 300px;
        min-width: 300px;
    }

    .item-container p {
        font-size: 20px;
    }
    
    .item-container h2 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 720px) {
    .text-container {
        margin-left: 15%;
    }
    h1 {
        font-size: 45px;
        margin: 0px;
    }
    
    p, ul, li {
        font-family: 'Lora';
        font-size: 24px;
    }

    #welcome {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: center;
    }

    #triangle {
        display: block;
        margin: 0px;
        width:100%;
    }

    #blurb {
        width: 384px;
    }

    .logo {
        height: 38px;
        width: 38px;
    }

    .btn {
        font-family: 'Lora';
        border: 1;
        border-style:solid;
        border-radius: 5%;
        font-size: 15px;
        width: 75px;
        height: 38px;
    }

    #navbar {
        height: 75px;
    }
    
    #navbar-items {
        height: 75px;
    }
    #img {
        display: none;
    }

    #burger {
        display: block;
    }

    #navbar-pages {
        display: none;
    }

    .item-container:not(#logo-container) {
        justify-content: center;
    }
}

@media only screen and (max-width: 540px) {
    .text-container {
        margin-left: 15%;
    }
    h1 {
        font-size: 36px;
    }
    
    p, ul, li {
        font-size: 18px;
    }

    #welcome {
        height: 80%;
    }

    #blurb {
        width: 256px;
    }

    .logo {
        height: 30px;
        width: 30px;
    }

    #logo-container {
        width: 150px;
    }

    .btn {
        font-size: 12px;
        width: 60px;
        height: 30px;
    }

    #website-logo, #burger {
        width: 40px;
        height: 40px;
    }

    #navbar {
        height: 60px;
    }
    
    #navbar-items {
        height: 60px;
    }

    .item-container:not(#logo-container) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    .item-container a:not(#logo-container a) {
        width: 25%;
        height: 300px;
        min-width: 450px;
    }    
    
    .item-container img {
        border-color: #3A78AB; 
        border-style: solid;
        border-width: 4px;
        border-radius: 5%;
        width: 25%;
        height: 300px;
        min-width: 300px;
        object-fit: cover;
    }
    
    .item-container div {
        width: 50%;
        height: 300px;
        min-width: 350px;
    }
    
    .item-container h2 {
        font-size: 28px;
    }

    .big-logo {
        height: 50px;
        width: 50px;
    }

    #contact li {
        margin-bottom: 10px;
    }
    
    #contact p {
        font-family: 'Offside';
        font-size:20px;
        color: #5696CB;
        margin-left: 15px;
    }
}